# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Ansible Project

[collection_sources]
"ansible.posix" = "git+https://github.com/ansible-collections/ansible.posix.git,main"
"community.docker" = "git+https://github.com/ansible-collections/community.docker.git,main"
"community.general" = "git+https://github.com/ansible-collections/community.general.git,main"
"community.internal_test_tools" = "git+https://github.com/ansible-collections/community.internal_test_tools.git,main"

[sessions]

[sessions.lint]
run_ruff_check = true
ruff_check_config = "ruff.toml"
run_ruff_format = true
ruff_format_config = "ruff.toml"
run_isort = false
run_black = false
run_flake8 = false
run_pylint = false
run_yamllint = false
run_mypy = false

[vcs]
vcs = "git"
development_branch = "main"

[sessions]

[sessions.docs_check]
validate_collection_refs="all"

[sessions.license_check]

[sessions.extra_checks]
run_no_unwanted_files = true
no_unwanted_files_module_extensions = [".py"]
no_unwanted_files_yaml_extensions = [".yml"]
run_action_groups = true
run_no_trailing_whitespace = true

[[sessions.extra_checks.action_groups_config]]
name = "proxmox"
pattern = "^.*$"
exclusions = []
doc_fragment = "community.proxmox.proxmox.actiongroup_proxmox"

[sessions.build_import_check]
run_galaxy_importer = true

[sessions.ansible_test_sanity]
include_devel = true

[sessions.ansible_test_units]
include_devel = true
